.Chat-wrapper {
  width: 324px;
  height: 300px;
  margin: 5px auto;
  display: flex;

  @include for-tablet-portrait-up {
    width: 484px;
    height: 300px;
    margin-top: 30px;
  }

  @include for-tablet-landscape-up {
    flex-direction: column;
    margin: 50px 10px;
    width: 260px;
    height: 484px;
  }

  @include for-desktop-up {
    height: 604px;
  }

  .room-info {
    padding: 4px;
    color: white;

    @include for-tablet-landscape-up {
      width: 100%;
    }
  }

  .Chat {
    border-radius: 5px;
    border: 1px solid $light-grey;
    background-color: $black;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.477);

    .Chat-body {
      height: calc(100% - 45px);

      ul.messages {
        list-style: none;
        margin: 0;
        padding: 5px;
        overflow-y: scroll;
        max-height: 100%;

        p {
          margin: 0;
        }

        .notification p, .message p {
          color: $light-grey;

          span {
            font-weight: bolder;

            &.red {
              color: $red;
            }

            &.white {
              color: $white;
            }
          }
        }

        .notification p {
          font-family: $gothic;
          font-style: italic;
        }
      }
    }

    .ChatEntry {
      height: 45px;
      display: flex;
      border-radius: 0 0 5px 5px;

      input {
        background-color: $black;
        color: white;
        border: none;
        border-top: 1px solid $light-grey;

        &[type=text] {
          margin: 0;
          padding: 0 5px;
          height: 45px;
          border-radius: 0 0 5px 0;
    
          &:focus, &:-internal-autofill-selected {
            background-color: $black;
            color: white;
          }
        }

        &[type=submit] {
          border-radius: 0 0 0 5px;
          margin: 0;
          background-color: $dark-grey;

          &:hover {
            background-color: $light-grey;
          }
      
          &:active {
            background-color: $black;
          }
        }
      }
    }
  }
}