.Chat-wrapper {
  width: 200px;
  height: 484px;
  margin: 50px 10px;

  .Chat {
    border-radius: 5px;
    border: 1px solid $light-grey;
    background-color: $black;
    width: 30vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.477);


    .Chat-body {
      height: calc(100% - 45px);
    }

    .ChatEntry {
      height: 45px;
      display: flex;
      border-radius: 0 0 5px 5px;

      input {
        background-color: $black;
        color: white;
        border: none;
        border-top: 1px solid $light-grey;

        &[type=text] {
          margin: 0;
          padding: 0 5px;
          height: 45px;
          border-radius: 0 0 5px 0;
    
          &:focus, &:-internal-autofill-selected {
            background-color: $black;
            color: white;
          }
        }

        &[type=submit] {
          border-radius: 0 0 0 5px;
          margin: 0;
          background-color: $dark-grey;

          &:hover {
            background-color: $light-grey;
          }
      
          &:active {
            background-color: $black;
          }
        }
      }

      

      
    }
  }
}