.Match {
  .central {
    display: flex;
    flex-direction: column;

    @include for-tablet-portrait-up {
      flex-wrap: wrap;
    }
    
    @include for-tablet-landscape-up {
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      .flex-break {
        display: none;
      }
    } 
    
    .player-wrapper {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      margin-bottom: 10px;
      padding: 10px;
      
      @include for-tablet-portrait-up {
        padding: 10px 10px 0;
        margin-bottom: 0;
      }
      
      @include for-tablet-landscape-up {
        flex-direction: column;
        padding: 50px 10px;
      }

      .player {
        margin: 0;

        &.white {
          color: white;
        }

        &.red {
          color: $red;
        }
      }
    }
  }

  .message {
    color: $light-grey;
  }
}