.Match {
  .central {
    display: flex;
    
    .player-wrapper {
      display: flex;
      flex-direction: column;
      padding: 50px 10px;
      justify-content: space-between;

      .player {
        margin: 0;

        &.white {
          color: white;
        }

        &.red {
          color: $red;
        }
      }
    }
  }

  .message {
    color: $light-grey;
  }

}
