.Profile {
  color: $light-grey;
  padding: 20px 0;
  flex: 2 0 0%;
  
  .profile-body {
    border-radius: 5px;
    background-color: $black;
    margin: 5px 20px;
    padding: 10px;
  }

  h3 {
    margin: 0;
  }

  ul.recent-matches {
    max-height: 360px;
    overflow-y: scroll;
    padding: 20px 0;
    margin: 0 20px;
    list-style: none;

    .MatchTile {
      background-color: $dark-grey;

      &:hover {
        background-color: $light-grey;
      }
    }
  }
}