@import "./colors.scss";

.TopBar {
  background-color: $black;
  flex-wrap: nowrap;

  @include for-tablet-portrait-up {
    flex-wrap: wrap;
  }

  .top-bar-right, .top-bar-left {
    max-width: 50%;

    .menu {
      background-color: $black;
      color: white;

      li {
        display: none;
  
        &.app-title, &.menu-button, &.new-match {
          display: list-item;
          padding: 0;
        }
      }
  
      .menu-text, .menu-text a {
        background-color: $black;
        color: $light-grey;
  
        &.static, &.static:hover, &.static:active {
          color: $light-grey;
        }
  
        &:hover {
          color: white;
        }
  
        &:active {
          color: darken($light-grey, 30%);
        }
      }
  
      .menu-button {
        border-radius: 5px;
  
        &.left a {
          border-radius: 5px 0 0 5px;
        }
  
        &.right a {
          border-radius: 0 5px 5px 0;
        }
  
        button {
          border-radius: 5px;
        }
  
        a, button {
          background-color: $dark-grey;
          color: white;
  
          &:hover {
            background-color: lighten($dark-grey, 10%);
          }
  
          &:active {
            background-color: darken($dark-grey, 5%);
          }
        }
  
        &.white a {
          background-color: $light-grey;
          color: $black;
  
          &:hover {
            background-color: white;
          }
  
          &:active {
            background-color: darken($light-grey, 30%);
          }
        }
      }
    }
    @include for-tablet-portrait-up {
      .menu li {
        display: list-item;
      }
    }
  }

  .top-bar-right {
    .menu {
      justify-content: flex-end;
    }
  }
}