@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@import "./colors.scss";
@import "./mixins.scss";
@include foundation-everything;
// place global css here

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

html, body {
  background-color: $dark-grey;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.flex-break {
  flex-basis: 100%;
  height: 0;
}

.system-message {
  position: absolute;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65);
  color: white;
  text-align: center;
}

$pawn-img: url("../images/pawn_overlay.png");
@import "./components/Authentication.scss";
@import "./components/Board.scss";
@import "./components/BoardRow.scss";
@import "./components/Chat.scss";
@import "./components/Match.scss";
@import "./components/Pawn.scss";
@import "./components/Tile.scss";
@import "./components/TopBar.scss";
